<?xml version="1.0"?>
<robot name="gripper" xmlns:xacro="http://ros.org/wiki/xacro">


   <xacro:include filename="$(find gripper_description)/urdf/finger.xacro"/>

  <xacro:property name="PI" value="3.1415926535897931"/>
  <xacro:property name="cos_PI_3" value="0.5"/>
  <xacro:property name="sin_PI_3" value="0.866"/>


  <link name="gripper_base_down">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <mass value="1.0" />
      <inertia  ixx="0.01" ixy="0.0"  ixz="0.0"  iyy="0.01"  iyz="0.0"  izz="0.01" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="${-PI/2} 0 0"/>
   	<geometry>
            <mesh filename="package://gripper_description/meshes/gripper_base_down.stl" scale="0.001 0.001 0.001"/>
        </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="${-PI/2} 0 0"/>
    <geometry>
            <mesh filename="package://gripper_description/meshes/gripper_base_down.stl" scale="0.001 0.001 0.001"/>
        </geometry>
    </collision>
  </link>



  <link name="gripper_base">    
    <visual>
      <origin xyz="0.2275 0 0 " rpy="${-PI/2} 0 0"/>
   	<geometry>
            <mesh filename="package://gripper_description/meshes/gripper_base_up.stl" scale="0.001 0.001 0.001"/>
        </geometry>
    </visual>
    <collision>
      <origin xyz="0.2275 0 0" rpy="${-PI/2} 0 0"/>
    <geometry>
            <mesh filename="package://gripper_description/meshes/gripper_base_up.stl" scale="0.001 0.001 0.001"/>
        </geometry>
    </collision>
  </link>


<joint name="flange" type="fixed">
		<origin xyz="0 0 0.06" rpy="0 0 0"/>
		<parent link="gripper_base"/>
		<child  link="gripper_base_down"/>
</joint>


<joint name="fixed_ee_gripper" type="fixed">
		<origin xyz="0 0 0.12" rpy="0 0 0"/>
		<parent link="gripper_base"/>
		<child  link="ee_gripper"/>
</joint>
<link name="ee_gripper"/>


<xacro:finger
	name="hand_1"
	parent="gripper_base_down">
	 <origin xyz="0.0  -0.03 0.05" rpy="${-PI/2} 0 0"/>
</xacro:finger>

<xacro:finger
	name="hand_2"
	parent="gripper_base_down">
	 <origin xyz="${0.03*sin_PI_3} ${0.03*cos_PI_3} 0.05" rpy="${-PI/2} 0 ${2*PI/3}"/>
</xacro:finger>


<xacro:finger
	name="hand_3"
	parent="gripper_base_down">
	 <origin xyz="${-0.03*sin_PI_3} ${0.03*cos_PI_3} 0.05" rpy="${-PI/2} 0 ${-2*PI/3}"/>
</xacro:finger>




  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace>/gripper_controller</robotNamespace>
    </plugin>
  </gazebo>

    <transmission name="hand_1_joint_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="hand_1_joint">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="foo_motor_1">
        <mechanicalReduction>1</mechanicalReduction>
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </actuator>
    </transmission>
    <transmission name="hand_2_joint_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="hand_2_joint">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="foo_motor_2">
        <mechanicalReduction>1</mechanicalReduction>
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </actuator>
    </transmission>
    <transmission name="hand_3_joint_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="hand_3_joint">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="foo_motor_3">
        <mechanicalReduction>1</mechanicalReduction>
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </actuator>
    </transmission>

</robot>
